/* 每个可以有动画效果的元素*/
.animation_element{
  opacity: 0
}
/* 这里是公共模块: 顶部菜单 */
.top{
  background: url(images/logo.jpg);
  height: 101px;
}
.top_menu {
  position: relative;
  left: 500px;
  top: 20px;
  width: 500px;
}
.top_menu a{
  color: #7c7c7c;
  text-decoration: none ;
  margin-left: 20px;
}
#right_menu {
  position: fixed;
  right: 10px;
  top: 200px;
  width: 200px;
  z-index: 1000;
  font-weight: bold;
  font-size: 20px;
}
#right_menu a{
  color: rgb(94, 94, 94);
  text-decoration: none ;
  line-height: 30px;
}

/* 每个页面的标题 */
.title{
  color:#F87710; font-size: 35px; font-weight:bold; margin-left: 58px;
  margin-top: -50px;
  z-index: 50
}

#about_us_left {
  width: 325px; height: 200px;
  position: absolute;
  left: -400px; top: 200px;
}
#about_us_right{
  width: 425px; height: 200px;
  position: absolute;
  left: 1000px; top: 200px;
  color: rgb(124, 124, 124);
  font-size: 12px;
  line-height: 30px;
}


/* 案例页面的css */
.cases_wrapper{
  height: 550px;
}
.cases_wrapper #left img{
  position: absolute;
  top: 150px;
  left: 50px;
  opacity: 0
}
#balls {
  position: absolute;
  top: 315px;
  left: 450px;
  width: 2000px;
}

#balls img{
  float: left;
  margin-left: 200px;
  opacity: 0
}

#text{
  position: absolute;
  top: 91px;
  left: 450px;
  color: #7c7c7c; font-size: 12px;
  width: 630px;
}
#sub_title{
  position: absolute;
  top: 191px;
  left: 450px;
  color: #F87710; font-size: 14px;
  width: 630px;
}
#view_button{
  position: absolute;
  top: 541px;
  left: 650px;
}

/* 服务页面的CSS */
.services_wrapper{
  height: 650px;
}
#upper_left {
  width: 325px; height: 200px;
  position: absolute;
  left: -400px; top: 140px;
}
#upper_right {
  width: 325px; height: 200px;
  position: absolute;
  left: 1360px; top: 140px;
}
.services_wrapper .middle { position: absolute; left: 500px; top: 300px; }
#lower_left {
  width: 325px; height: 200px;
  position: absolute;
  left: -400px; top: 600px;
}
#lower_right {
  width: 325px; height: 200px;
  position: absolute;
  left: 1360px; top: 600px;
}
.arrow{
  z-index: 10;
}


/* 首页 页面 */
.index_wrapper{
  height: 550px;
}
.left { position: absolute; left: -500px; top: 250px; }
.index_wrapper .middle { position: absolute; left: 500px; top: 100px; }
.right { position: absolute; left: 1200px; top: 350px;
  background: url(new_images/index_right.jpg);
  height: 226px;
  width: 452px;
  color: white;
  font-size: 12px;
  padding-left: 122px;
  padding-top: 67px;
}
#right_text p { opacity: 0}
