/* 每个可以有动画效果的元素*/
.animation_element{
  opacity: 0
}
img{ border:none;}
body{ font-family:"微软雅黑";}
/* 这里是公共模块: 顶部菜单 */
.top{
  background: url(new_images/logo.jpg) no-repeat left center;
  height: 101px;
}
.top_menu {
  position: relative;
  left: 500px;
  top: 20px;
  width: 500px;
}
.top_menu a{
  color: #737373;
  text-decoration: none ;
  margin-left: 20px;
  font-size:12px;
}
.top_menu a:hover{
  text-decoration: none ;
  color: #F87710;
}
#right_menu {
  position: fixed;
  right: 10px;
  top: 200px;
  width: 200px;
  z-index: 1000;
  font-weight: bold;
  font-size: 12px;
}
#right_menu a{
  color: #484848;
  text-decoration: none ;
  line-height: 30px;
}

/* footer */
.footer {
  background-color: #f87711; height: 100px; width: 100%;
  color: white; margin-top: 50px; clear:both; font-size: 14px; line-height: 20px;
}
.footer .left_footer{
  float: left; height: 80px; width: 526px; margin: 0px 0 0 50px; line-height:36px; padding-top:18px;
}
.footer .right_footer{
  float: right; height: 80px; width: 495px; text-align:left; line-height:25px; padding-top:20px; font-size:12px;
}
.footer .phone{ border:1px dashed #e2e2e2; background:#f69242; padding:0 4px;}
/* 每个页面的标题 */
.title{
  color:#F87710; font-size: 35px; font-weight:bold; margin-left: 20px;
  margin-top: -50px;
  z-index: 50;
  font-size:34px;
}

#about_us_left {
  position: absolute;
  left: 100px; top: 200px;
}

#about_us_left form input , #about_us_left form textarea{
  border: 1px solid #dbdbdb; height: 30px; width: 350px;
  background-color: #f4f0ef; margin: 10px; font-size:12px; color:#CCC; font-family:"微软雅黑"; padding:0 4px;
}

#about_us_right{
  width: 425px; height: 200px;
  position: absolute;
  left: 700px; top: 200px;
  color: rgb(124, 124, 124);
  font-size: 12px;
  line-height: 30px;
}


/* 案例页面的css */
.cases_wrapper{
  height: 850px;
  position: relative;
}
.cases_wrapper #left img{
  position: absolute;
  top: 150px;
  left: 50px;
  opacity: 0
}
#balls {
  position: absolute;
  top: 315px;
  left: 450px;
  width: 2000px;
}

#balls img{
  float: left;
  margin-left: 0px;
  opacity: 0;
}

#text{
  position: absolute;
  top: 91px;
  left: 450px;
  color: #7c7c7c; font-size: 12px;
  width: 630px;
}
#sub_title{
  position: absolute;
  top: 191px;
  left: 450px;
  color: #F87710; font-size: 14px;
  width: 630px;
}
#view_button{
  position: absolute;
  top: 541px;
  left: 650px;
}

/* 服务页面的CSS */
.services_wrapper{
  height: 900px;
  position: relative;
}
#upper_left {
  width: 325px; height: 200px;
  position: absolute;
  left: 0px; top: 140px;
}
#upper_right {
  width: 325px; height: 200px;
  position: absolute;
  left: 860px; top: 140px;
}
.services_wrapper .middle { position: absolute; left: 500px; top: 300px; }
#lower_left {
  width: 325px; height: 200px;
  position: absolute;
  left: 20px; top: 600px;
}
#lower_right {
  width: 325px; height: 200px;
  position: absolute;
  left: 890px; top: 600px;
}
.arrow{
  z-index: 10;
}


/* 首页 页面 */
.index_wrapper{
  height: 550px;
}
.left { position: absolute; left: 0px; top: 250px; }
.index_wrapper .middle { position: absolute; left: 640px; top: 0px; }
.right { position: absolute; left: 600px; top: 350px;
  background: url(new_images/index_right.jpg);
  height: 226px;
  width: 452px;
  color: white;
  font-size: 12px;
  padding-left: 122px;
  padding-top: 67px;
}
#right_text p { opacity: 0}

/* 开发流程 */
#sub_menu { font-size: 16px}
#sub_menu a{
  color: #424242;
  text-decoration: none ;
  margin-left: 10px;
  font-weight:normal;
}
#sub_menu a:hover{
  text-decoration: none ;
  color: #F87710;
}
.workflow{
  border-bottom: 1px solid #dedede;
  height: 332px;
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
.workflow_wrapper .description_area{
  float:left; width: 300px;
}
.workflow_title{
  color: #F87710;
  font-size: 26px;
  line-height: 30px;
  vertical-align: middle;
  width: 300px;
  margin: 30px 0 30px 20px;
}
.workflow_wrapper .description{
  width: 320px;
  margin-left: 20px;
  color: #7c7c7c;
  font-size: 18px;
  line-height: 30px;
}
.workflow_wrapper .big_image{
  width: 320px;
}


/* 案例详情页 */
.case_description a{
  text-decoration: none ;
  color: #F87710;
}

/* 案例展示页 */
.cases_list .filter {
  height: 33px;
  margin: 30px 0 30px 0;
  width:598px;
  background:#fff;
  border:1px solid #c8c8c8;
  border-radius:4px;
}
.cases_list .filter .first{ border-left:none;}
.cases_list .filter div{
  height: 33px;
  padding:0 23px;
  float: left;
  color: #1c1c1c;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  background-color: #ffffff;
  line-height:33px;
  border-left:1px solid #c8c8c8;
}
.cases_list .filter .active{
  color: #f67710;
  background-color: #f2f2f2;
}
.single_case {
  width: 272px;
  float: left;
  margin: 5px;
  overflow: hidden;
  /* 这个值设置的不正确的话，会影响动画效果*/
  opacity: 0.5;
  /*display: none;*/
}
.single_case img{
  /*min-width: 272px;*/
  display:block;
}
.single_case .category{
  margin: 10px; color: #737373; font-size:12px;
}
.single_case_title {
  margin: 10px; font-size: 16px;
}
.single_case_title a{
  color: #393939;
  text-decoration: none ;
}
.single_case_title a:hover{
  color: #f67710;
  text-decoration: none ;
}


/* +++++ */
.top_search{ position: relative; width:216px; height:24px; background-color:#fafafa; border:1px solid #dcdcdc; top:0px; left:974px;}
.top_search span{ display:inline-block; width:54px; height:24px; background-color:#e9e9e6; color:#313131; font-size:12px; text-align:center; line-height:24px; float:left;}
.top_search .top_search_text{ float:left; width:132px; height:24px; border:none; line-height:24px; padding:0 3px; background-color:#fafafa;}
.top_search .top_search_button{ float:left; width:16px; height:14px; border:none; line-height:24px; padding:0 3px; background: url(new_images/search.jpg) no-repeat; margin-top:5px; cursor:pointer;}
.p_text{ color:#7c7c7c; font-size:12px; line-height:24px;}
#middle p{ width:390px;}
.p_text2{ color:#7c7c7c; font-size:12px; line-height:24px; width:324px; text-align:right;}
.p_text3{ color:#7c7c7c; font-size:12px; line-height:24px; width:324px; text-align:text;}
.single_case{ position:relative;}
.btn-content{ position:absolute; display:none; width:80px; height:28px; line-height:28px; background:url(new_images/heart.jpg) no-repeat 5px center #fff;  font-size:12px; right:0; top:0;}
.btn-content a{color:#5f5f5f; display:block; padding-left:20px;}
.btn-content a span{ display:none;}
.imghover img:hover{ opacity:0.9; filter:Alpha(opatict=90);}








